<div class="secondary_page_bg">
	<div class="category_illustration">
    <div class="punchline_about">
      <h2>Need a web application or screencast?</h2>
      <p>We kill it, so you can eat</p>
    </div>        
    <img class="drawing_tablet" src="images/drawing_tablet.png" width="317" height="159" alt="About us" />
  </div>
</div>
<%# render 'about/'%>

<%= render 'layouts/sub_menu' %>

<div class="content">
	<div class="secondary_pages_content">
	  <h1>Who is RedGrind</h1>
    <p class="subtitle">A Web Application and Screencasting Development boutique</p>
    <div class="clear_container"></div>
    
    <div class="two_columns">
      <div class="text">
        <h5>About RedGrind</h5>
        <p>
          RedGrind was formed from a lifelong passion for entrepreneurial web application development.
          Initially, Mark Holton works on the majority of the work on RedGrind projects, 
          as the founding partner of RedGrind, LLC.  Mark has been building N-tier web applications 
          since 2001 in various technologies for companies such as Boeing, Qwest, and AT&T.  
          RedGrind started as an outlet in post-day-job-work-hours at night and the weekend towards a true 
          passion for creating great web applications.
          In 2006, after encountering Ruby on Rails, quickly became serious about writing Rails
          applications and searched for as much experience and learning as he could outside of work hours.
          This included completing a 9 month, three course University of Washington Certificate
          program in Ruby development, and attending two RailsConf's in Portland and Baltimore.  
          While practicing and progressing in Rails development, 
          followed up with a repeat effort in Rails and Test Driven Rails Development at UW taught 
          by Rails core contributors, such as Aaron Patterson and John Barnette.  
          Throughout that time writing Rails code nearly every night and deploying 
          to the cloud every week. 
        </p>
        <p>
          Throughout all this time in web development, we have picked up knowledge that we choose
          to share.  This is where our passion for Screencasting comes in, the best medium for 
          communicating and sharing software ideas!  
        </p>
        <p><%= link_to "Screencasts", screencasts_path %></p>
      </div>
      
      <%= render 'about/services' %>
    </div> <!-- /two_columns -->
    
    <div class="clear_container"></div><br /><br />
    
    <%= render 'about/ruby_on_rails'%>
    <div class="clear_container"></div><br /><br />
    
    <div class="one_column">
      <%= render 'about/our_process' %>
    </div>
    
    
  </div><!-- /secondary_pages_content -->
    
  <div class="clear_container"></div>
    
</div>
<!-- .CONTENT -->
