<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head_content' %>
</head>

<body>
    <%= render :partial => 'layouts/header' %>
    
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="error"><%= flash[:alert] %></p>
    <% end %>
    
    
    <%= yield %>
    
    <%= render :partial => 'home/footer' %>

    <script type="text/javascript">
		  Cufon.replace('h1');
    	Cufon.replace('h2');
		  Cufon.replace('');
    </script>
    
</body>
</html>