<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>RedGrind - Custom Screencasts and Web Applications</title>
    <meta name="author" content="RedGrind, Mark Holton"/>
    <meta name="description" content="RedGrind is a web application and screencasting production company" />
    <meta name="keywords" content="web, screencast, screencasting, web application, Ruby on Rails" />
    <meta name="language" content="english" />
	  <link rel="icon" type="image/ico" href="/images/favicon.ico"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/global.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/color_wine.css" />
    <script type="text/javascript" src="/javascripts/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/tabsslider.js"></script>
    <script type="text/javascript" src="/javascripts/cufon-yui.js"></script>
    <script type="text/javascript" src="/javascripts/custom.font.js"></script>
    <!--[if IE 6]><link type="text/css" rel="stylesheet" href="/stylesheets/ie6.css" /><![endif]--> 
  
</head>

<body>
    <%= render :partial => 'layouts/header' %>
    
    <%= render :partial => 'home/latest_project' %>
    <%= render :partial => 'home/prev_next' %>

    <%= render :partial => 'home/three_section' %>
    
    <%= render :partial => 'home/footer' %>

    <script type="text/javascript">
		Cufon.replace('h1');
    	Cufon.replace('h2');
		Cufon.replace('');
    </script>
    
</body>
</html>
